.datum
{
    font: bold 40px calibri;
    text-align: center;
    width: 100%;
}

.body1
{
    background-color: #026398;
}

.body2
{
    background-color: #517c94;
}

.stufe
{
    font: bold 30px calibri;
}

.stufeTab
{
    font: normal 16px calibri;
    width: 99.5%;
    border-width: 3px;
    border-style: groove;
    border-color: #474747;
    background-color: #E7E7E7;
}

.stufeTab .one
{
    background-color: #D1D1D1;
}

.stufeTab .two
{
    background-color: #E7E7E7;
}

.stufeTab tr td
{
    text-align: center;
}

.laufschrift
{
    font: bold 50px calibri;
    width: 100%;
    vertical-align: top;
    padding-left: 50px;
}

.frames frame
{
    border-style: groove;
    border-color: #011A28;
}