.datum
{
    font: DATUM1;
    color: DATUM2;
    text-align: center;
    width: 100%;
}

.body1
{
    background-color: PLAN;
}

.body2
{
    background-color: SCHRIFT;
}

.stufe
{
    font: STUFE1;
    color: STUFE2;
}

.stufeTab
{
    font: TABELLE1;
    color: TABELLE2;
    width: 99.5%;
    border-width: 3px;
    border-style: groove;
    border-color: #474747;
    background-color: TABELLE;
}

OTHER

.stufeTab tr td
{
    text-align: center;
}

.laufschrift
{
    font: SCHRIFT1;
    color: SCHRIFT2;
    width: 100%;
    vertical-align: top;
    padding-left: 50px;
}

.frames frame
{
    border-style: groove;
    border-color: FRAME;
}